.cardsContainerTrue {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
  width: 26vw;
  height: 40vh;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.infos > span {
  color: var(--Text);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 23.1px */
}

.cardItemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 80vw;
  height: 25vh;
  gap: 20px;
}

.cardItemList > img {
  width: 20% !important;
}



.cardItem > h2 {
  color: var(--Text);
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.cardItem > p {
  color: var(--Text);
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.cardItemList > h2 {
  color: var(--Text);
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.cardItemList > p {
  color: var(--Text);
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.buttonMore {
  width: 220px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #C31815;
  margin: 30px auto;
}

.buttonMore > p {
  color: #C31815;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 107.143% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}