.cardsContainerTrue {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 26vw;
  height: 40vh;
}

.cardItemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 80vw;
  height: 25vh;
  gap: 20px;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.cardItem > h2 {
  color: var(--Text);
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.cardItem > p {
  color: var(--Text);
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.cardItemList > h2 {
  color: var(--Text);
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.cardItemList > p {
  color: var(--Text);
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}