/* FILEPATH: /home/cleissim/ibgeproject/src/components/Header/Header.module.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 48px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
